{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":8,"column":22},"end":{"row":9,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":9,"column":0},"end":{"row":9,"column":16},"action":"insert","lines":["artexhibitionlib"],"id":3}],[{"start":{"row":3,"column":0},"end":{"row":4,"column":17},"action":"remove","lines":["boto3","botocore==1.33.13"],"id":4}],[{"start":{"row":3,"column":0},"end":{"row":4,"column":0},"action":"remove","lines":["",""],"id":5}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":16},"end":{"row":7,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1765020977648,"hash":"a82a0431181625e6c7b6e0ede3a71f9e4691ac0f"}