{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":8,"column":22},"end":{"row":9,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":9,"column":0},"end":{"row":9,"column":16},"action":"insert","lines":["artexhibitionlib"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":16},"end":{"row":9,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":103,"mode":"ace/mode/text"}},"timestamp":1764668433749,"hash":"7705936e0f2985c9ecc3ebcc48133daf20b19cf1"}