version: 2.1

orbs:
  aws-cli: circleci/aws-cli@3.1.5

jobs:


  installations:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout

      - run:
          name: Install Python Dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install pylint

      - run:
          name: Install OS Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y jq unzip wget

      - run:
          name: Install Java 17 (Corretto)
          command: |
            sudo apt-get purge -y openjdk*
            sudo apt-get install -y java-common
            wget https://corretto.aws/downloads/latest/amazon-corretto-17-x64-linux-jdk.deb
            sudo dpkg -i amazon-corretto-17-x64-linux-jdk.deb
            java --version

      - run:
          name: Install Sonar Scanner
          command: |
            wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-5.0.1.3006-linux.zip
            unzip sonar-scanner-cli-5.0.1.3006-linux.zip
            mv sonar-scanner-5.0.1.3006-linux sonar-scanner


  tests:
    docker:
      - image: cimg/python:3.11

    steps:
      - checkout

      - run:
          name: Install Python Dependencies
          command: |
            pip install -r requirements.txt
            pip install pylint

      - run:
          name: Run pylint
          command: |
            pylint art_store --ignore=views.py || true


      - run:
          name: Run Django Tests
          command: |
            python manage.py test || true

      - run:
          name: Run Sonar Scan
          command: |
            sonar-scanner/bin/sonar-scanner \
              -Dsonar.login=b7e7bb09704134549e97c60713030866471ceece \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.projectKey=Navaneetha13_art_store_devops \
              -Dsonar.organization=navaneetha13 \
              -Dsonar.exclusions=**/.c9/**,**/node_modules/**,**/venv/** \
              -Dsonar.text.exclusions=**/.c9/** \
              -Dsonar.scm.disabled=true \
              -Dsonar.scm.exclusions.enabled=true \
              || true



  build:
    docker:
      - image: cimg/python:3.11

    steps:
      - checkout

      - run:
          name: Create Deployment ZIP
          command: |
            zip -r deploy.zip . -x "*.git*"



  deploy:
    docker:
      - image: cimg/python:3.11
    environment:
      AWS_REGION: us-east-1

    steps:
      - checkout

      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_REGION

      - run:
          name: Deploy to Elastic Beanstalk
          command: |
            pip install awsebcli
            eb init "Project-devops-eb-x23213914" --platform python-3.11 --region "$AWS_REGION"
            eb deploy Project-devops-eb-x23213914-env



workflows:
  version: 2
  pipeline:
    jobs:
      - installations
      - tests:
          requires:
            - installations
      - build:
          requires:
            - tests
      - deploy:
          requires:
            - build
